*{
	margin: 0%;
	/*border: 1px solid red;*/
	}
.navbar{
	padding: 1.5%;
	font-family: 'Poppins', sans-serif;

	}
	.navbar a{
	text-decoration: none;
	font-size: 14px;
	color: black;
	margin-left: 4%;
	}
	.logo{
		margin: 0%,5% !important;
	}
	.navbar img{
		vertical-align: middle;
	}
	#signin{
		background-color: #00baf2;
		border-radius: 25px;
		color: white;
		padding: 0.8% 1%;
		margin-left: 10%;
	}
	.signin2{
			background-color: darkblue;
		}
	.wallet{
	text-align: center;
	background-color:lightgray;
	padding: 1%;
	font-size: 18px;
	}
		
.sec2{
	display:flex;
	justify-content: space-between;
	padding: 5% 0% 7% 7%;
	font-family: 'Poppins', sans-serif;

	}
	.image3{
		margin-bottom:3% ;
	}
	.India{
		font-size: 40px;
		margin-bottom: 5%;
	}
	.Download-app{
		background-color: black;
		color: white;
		padding: 3%;
		font-size: 17px;
		width: 55%;
		border-radius: 25px;
		text-align: center;
		margin-top: 3%;
	}
	.Download-app:hover{
		background-color: white; 
		color: black;
		}
		#recharge{
		font-size: 40px;
		padding: 5px;
		margin-left: 5%;
		font-family: 'Pooppins',sans-serif;
		}
.fa-apple{
	margin-left: 2%;
	}
.fa-google-pay{
	margin-left: 2%;
	}
	
.sec3{
	display:flex;
	justify-content: space-evenly;
	padding: 1%;
	}
	.sec3 a{
	text-decoration: none;
	color: white;
	font-family: 'Pooppins',sans-serif;
	}
	.three
		{
		background-color: #00baf2;
		color: white;
		padding: 1%;
		}
	#book{
		font-size: 40px;
		padding:5px ;
		margin-left: 5%;
		font-family: 'Pooppins',sans-serif;
	}
	.sec4{
		display: flex;
		justify-content: space-evenly;
		padding: 1%;
	}
	.sec4 a{
	text-decoration: none;
	color: white;
	font-family: 'Pooppins',sans-serif;
	}
	.four{
	background-color: #0f4a8a;
	padding: 1%;
	color: white;
	}
.paytm{
	font-size: 50px;
	margin-right: 1%;
	padding: 4%;
	}
.five{
	display: flex;
	padding:3%;
	}
.five1{
	display: flex;
	justify-content: space-evenly;
	background-color: white;
	padding:8% 6%;
	/*border: 2px solid;*/
	font-size: 19px;
	border-radius: 2%;
	}
.sec5{
	background-color: lightgray;
	padding: 13%;
	font-family: 'Pooppins',sans-serif;
	}
.five3{
	display: flex;
	justify-content: space-evenly;
	background-color: white;
	padding:8% 6%;
	/*border: 2px solid;*/
	font-size: 19px;
	margin-top: 4%;
	border-radius: 2%;
	}
.five4{
	display: flex;
	justify-content: space-evenly;
	background-color: white;
	padding:8% 6%;
	/*border: 2px solid;*/
	font-size: 19px;
	margin-top: 4%;
	border-radius: 2%;
	}
.learn{
	background-color: darkblue;
	color: white;
	padding: 2%;
	font-size: 17px;
	width: 30%;
	border-radius: 25px;
	text-align: center;
	margin-top: 3%;
	}
	.learn:hover{
	background-color: skyblue; 
	color: black;
	}
	.image26{
	padding: 2%;
	}
	.image27{
	padding: 2%;
	}
		
.sec6{
	display: flex;
		}
.five5{
	justify-content: space-evenly;
	background-color: white;
	padding:8% 6%;
	/*border: 2px solid;*/
	font-size: 19px;
	margin-top: 4%;
	border-radius: 2%;
	}
	.five5 img{
margin-bottom: 5%;
	}
.five51{
	justify-content: space-evenly;
	background-color: white;
	padding:8% 6%;
	/*border: 2px solid;*/
	font-size: 19px;
	margin-top: 4%;
	margin-left: 3%;
	border-radius: 2%;
	}
	.five51 img{
		margin-bottom: 5%;
	}
.sec7{
	
	font-family: 'Pooppins',sans-serif;
	background-color: white;
	margin-top: 3%;
	
	padding:10% 5%;
}
	.six{
	font-size: 25px;
	display: flex;
	justify-content: space-between;
	padding: 3%;
}
/*.financial{
	margin-bottom: 5%;
}*/
.six p{
	font-size: 17px;
}
.six h1{
	margin-bottom: 5%;
	margin-top: 4%;
}
.sec8{
	display: flex;
	justify-content: space-evenly;
	background-image: url("image/background.png");
	background-repeat: no-repeat;
	background-position: center;
	}
.seven{
	font-size: 25px;
	font-family: 'Pooppins',sans-serif;
}
.seven img{
	padding-bottom: 3%;
}
.sec7 h1{
	font-size: 40px;
	padding-bottom: 3%;	
	font-family: 'Pooppins',sans-serif;
}

.sec9{
	display: flex;
	justify-content: space-evenly;
	margin-top: 7%;
	font-size: 20px;
	font-family: 'Pooppins',sans-serif;
}
.eight img{
padding-bottom: 4%;
}
.sec10{
	display: flex;
	justify-content: space-between;
	margin-top: 8%;
	background-color: lightgray;
	padding: 8%;
}
.nine{
	font-size: 20px;
	font-family: 'Pooppins',sans-serif;
}
.nine img{
	padding-bottom: 8%;
}
.nine p{
	font-size: 16px;
	padding-top: 2%;
}
.nine h1{
padding-bottom: 2%;
}
.sec11{
	background-color: white;
	padding: 8%;
	font-family: 'Pooppins',sans-serif;
	/*border:1px solid black ;*/
}
.ten{
	display: flex;
	justify-content:space-evenly;
	background-color: lightgrey;
	padding: 8% 6%;
	border-radius: 2%;
	margin-top: 3%;
}
.sec11 h1{
	font-size:50px;
	padding: 1%;
}
.ten h1{
	padding-top: 4%;
	font-size: 35px;
}
.ten p{
	font-size: 20px;
}
.ten div{
	padding-top: 8%;
}
.sec12{
	background-color: white;
	padding: 7%;
	font-family: 'Pooppins',sans-serif;
}
.shop{
	background-color: lightgray;
	display: flex;
	justify-content: space-evenly;
	padding: 8% 6%;
	border-radius: 2%;
	margin-top: 2%;
}
.shop div{
	padding: 5%;
}
.shop h1{
	font-size: 35px;
	padding: 1%;
}
.shop p{
padding: 2%;
}

.software{
	display: flex;
	font-family: 'Pooppins',sans-serif;
	justify-content: space-between;
	margin-left: 8%;
}
.software p{
	padding-top: 7%;
	font-size: 19px;
}
.software h1{
	padding-top: 7%;
	font-size: 25px;
}
.tool{
	font-size: 45px;
	padding: 4%;
	margin-left: 5%;
}

@media(max-width: 400px){
	.India{
		font-size: 10px;
	}
	.Download-app{
		font-size: 10px;
		padding: 1%;
	}
	#recharge{
		font-size: 20px;
	}
	.sec3{
	font-size: 15px;
	flex-direction: column;
	padding: 25%;
	}
	.sec4{
		font-size: 15px;
		flex-direction: column;
		padding: 20%;
	}
	#book{
		font-size: 20px;
	}
	.paytm{
		font-size: 20px;
	}
	.five{
		font-size: 15px;
	}
	.five1{
		font-size: 10px;
	}
	.Download-app{
		font-size: 10px;
		padding: 1%;
	}
	.five3{
		font-size: 10px;
	}

	.five{
		font-size: 15px;
	}
	.Download-app{
		font-size: 10px;
		padding: 1%;
	}
	.five4{
		font-size: 10px;
	}
	.learn{
		padding: 1%;
		font-size: 10px;
	}
	.five5{
		font-size: 15px;
	}
	.five51{
		font-size: 15px;
	}
	.six{
		font-size: 15px;
	}
	.sec7 h1{
		font-size: 20px;
	}
	.seven{
		font-size: 15px;
	}
	.learn{
		padding: 3%;
		font-size: 10px;
	}
	.eight{
		font-size: 15px;
	}
	.nine{
		font-size: 15px;
	}
	.learn{
		padding: 1px;
		font-size: 10px;
	}
	.sec11 h1{
		font-size: 15px;
	}
	.ten{
		font-size: 17px;
	}
	.software{
		justify-content:space-between;
	}
	.software img{
		width: 35%;
	}
	.software h1{
		font-size: 15px;
	}
	.software p{
		font-size: 10px;
	}
}



